@import "tailwindcss";

@theme {
  --color-base: #202020;
  --color-primary: #377aff;
  --color-error: #f75455;
  --color-success: #12d18e;
  --color-warn: #ff981f;
  --color-placeholder: #eeeeee;
  --color-confirm: #6849ff;
  --color-confirm-light: #a58fff;
}

html {
  font-family: "Raleway", sans-serif;
  @apply min-h-screen text-base;
}

html,
body {
  @apply flex flex-col grow;
}
